#container {
    width: 100px;
    margin: auto;

}

#but1 {
    height: 40px;
    width: 130px;
    color: black;
    background-color: aqua;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}