.btn {
    height: 40px;
    width: 140px;
    cursor: pointer;
    border-radius: 5px;
    color: black;
    background-color: aqua;
}

#btn2 {
    height: 40px;
    width: 100px;
    cursor: pointer;
    border-radius: 3px;
    background-color: blanchedalmond;
    color: black;
}